<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <!-- {% for campo in formulario %}

    <div class="mb-3">
      <label for="" class="form-label">{{ campo.label }}</label>
      
      <input
      type="{{ campo.field.widget.input_type }}"
      class="form-control"
      name="{{ campo.name }}"
      id=""
      aria-describedby="helpId"
      placeholder="{{ campo.label }}"
      value="{{ campo.value | default:'' }}"
      />

    </div>

    <div class="col-12 help-text"> {{ campo.errors }} </div>
    
  {% endfor %} -->

  <div class="mb-3">
    <label for="" class="form-label">Apellido</label>
    <input
    type="text"
    class="form-control"
    name="apellido"
    style="text-transform: uppercase"
    id="apellido"
    aria-describedby="helpId"
    placeholder="Apellido"
    value="{{ cliente.apellido | default:''}}">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input
    type="text"
    class="form-control"
    name="nombre"
    style="text-transform: uppercase"
    id="nombre"
    aria-describedby="helpId"
    placeholder="Nombre"
    value="{{ cliente.nombre | default:''}}">
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="activo" id="activo" value="True" checked>
    <label class="form-check-label" for="">
      Activo
    </label>
  </div>

  <div class="col-12 help-text"> {{ formulario.errors }} </div>

  <input
  name=""
  id=""
  class="btn btn-success"
  type="submit"
  value="Agregar">
  <a
  name=""
  id=""
  class="btn btn-primary"
  href="{% url 'clientes' %}"
  role="button">Cancelar</a>

</form>