{% extends "base.html" %}

{% block titulo %} Lista de Clientes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'agregar_cliente' %}" role="button">Agregar Cliente</a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>APELLIDO</th>
                    <th>NOMBRE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td><a href="{% url 'abonos' %}?query_cliente={{cliente.id}}">{{ cliente.apellido }}</a></td>
                    <td>{{ cliente.nombre }}</td>
                    <td><a name="" id="" class="btn btn-primary" href="{% url 'editar_cliente' cliente.id%}" role="button">Editar</a>
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_cliente' cliente.id %}" role="button">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}