<form enctype="multipart/form-data" method="post">

  {% csrf_token %}

  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input
    type="text"
    class="form-control"
    name="nombre"
    id="nombre"
    style="text-transform: uppercase"
    aria-describedby="helpId"
    placeholder="Nombre"
    value="{{ cobrador.nombre | default:''}}">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Usuario</label>
    <select class="form-control" name="usuario" id="usuario">
      {% if cobrador is not None %}
      <option value={{cobrador.usuario.id}}>{{cobrador.usuario}}</option>
      {%endif%}
      {% for usuario in usuarios %}
      <option value={{usuario.id}}>{{usuario.username}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="activo" id="activo" value="True" checked>
    <label class="form-check-label" for="">
      Activo
    </label>
  </div>

  <div class="col-12 help-text"> {{ formulario.errors }} </div>

  <input
  name=""
  id=""
  class="btn btn-success"
  type="submit"
  value="Agregar">
  <a
  name=""
  id=""
  class="btn btn-primary"
  href="{% url 'cobradores' %}"
  role="button">Cancelar</a>

</form>