<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="" class="form-label">Cliente</label>
    <select class="form-control" name="cliente" id="cliente">
      {% if abono is not None %}
      <option value={{abono.cliente.id}}>{{abono.cliente}}</option>
      {%endif%}
      {% for cliente in clientes %}
      <option value={{cliente.id}}>{{cliente.apellido}}, {{cliente.nombre}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Cobrador</label>
    <select class="form-control" name="cobrador" id="cobrador">
      {% if abono is not None %}
      <option value={{abono.cobrador.id}}>{{abono.cobrador}}</option>
      {%endif%}
      {% for cobrador in cobrador_usuario %}
      <option value={{cobrador.id}}>{{cobrador.nombre}}</option>
      {% endfor %}
      {% if request.user.is_superuser %}
      {% for cobrador in cobradores %}
      <option value={{cobrador.id}}>{{cobrador.nombre}}</option>
      {% endfor %}
      {% endif %}
    </select>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Fecha</label>
    <input
    type="date"
    class="form-control"
    name="fecha"
    id="fecha"
    aria-describedby="helpId"
    placeholder=""
    value="{{ abono.fecha | default:''}}">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Monto</label>
    <input
    type="number"
    class="form-control"
    name="monto"
    id="monto"
    aria-describedby="helpId"
    placeholder="1000,00"
    value="{{ abono.monto | default:''}}">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Concepto</label>
    <input
    type="text"
    class="form-control"
    name="concepto"
    id="concepto"
    aria-describedby="helpId"
    placeholder="Concepto"
    value="{{ abono.concepto | default:''}}">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Nota</label>
    <input
    type="text"
    class="form-control"
    name="nota"
    id="nota"
    aria-describedby="helpId"
    placeholder="Nota"
    value="{{ abono.nota | default:''}}">
  </div>

  <div class="col-12 help-text"> {{ formulario.errors }} </div>

  <input
  name=""
  id=""
  class="btn btn-success"
  type="submit"
  value="Agregar">
  <a
  name=""
  id=""
  class="btn btn-primary"
  href="{% url 'abonos' %}"
  role="button">Cancelar</a>
 
</form>