{% extends "base.html" %}

{% block titulo %} Lista de Abonos {% endblock %}

{% block sidebar %}

<div class="card">
    <div class="card-header">
        <h5>COBRADORES</h5>
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item"><a href="{% url 'abonos' %}">TODOS</a></li>
            {% for cobrador in cobradores %}
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_cobrador={{cobrador.id}}">{{ cobrador.nombre }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <h5>MESES</h5>
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item"><a href="{% url 'abonos' %}">Todos</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=01">Enero</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=02">Febrero</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=03">Marzo</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=04">Abril</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=05">Mayo</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=06">Junio</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=07">Julio</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=08">Agosto</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=09">Septiembre</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=10">Octubre</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=11">Noviembre</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_mes=12">Diciembre</a></li>
        </div>
    </div>
</div>

{% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'agregar_abono' %}" role="button">Agregar Abono</a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>MONTO</th>
                    <th>CLIENTE</th>
                    <th>COBRADOR</th>
                    <th>CONCEPTO</th>
                    <th>NOTA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for abono in abonos %}
                <tr>
                    <td>{{ abono.id }}</td>
                    <td>{{ abono.fecha|date:"d/m/Y" }}</td>
                    <td>{{ abono.monto }}</td>
                    <td>{{ abono.cliente.apellido }} , {{ abono.cliente.nombre }}</td>
                    <td>{{ abono.cobrador.nombre }}</td>
                    <td>{{ abono.concepto }}</td>
                    <td>{{ abono.nota }}</td>
                    <td><a name="" id="" class="btn btn-primary" href="{% url 'editar_abono' abono.id%}" role="button">Editar</a>
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_abono' abono.id %}" role="button">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}