{% extends "base.html" %}

{% block titulo %} Lista de Abonos {% endblock %}

{% block sidebar %}

<div class="card">
    <div class="card-header">
        <h3>Cobradores</h3>
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item"><a href="{% url 'abonos' %}">TODOS</a></li>
            {% for cobrador in cobradores %}
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_cobrador={{cobrador.id}}">{{ cobrador.nombre }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <h3>Recaudados</h3>
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item"><a href="{% url 'abonos' %}">TODOS</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_recaudacion=1">Con Recaudación</a></li>
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_recaudacion=0">Sin Recaudación</a></li>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <h3>Conceptos</h3>
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item"><a href="{% url 'abonos' %}">TODOS</a></li>
            {% for concepto in conceptos %}
            <li class="list-group-item"><a href="{% url 'abonos' %}?query_concepto={{concepto.id}}">{{ concepto.año }}/{{ concepto.mes }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header d-flex justify-content-end">
        <a name="" id="" class="btn btn-success" href="{% url 'agregar_abono' %}" role="button">Agregar Abono</a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>MONTO</th>
                    <th>CLIENTE</th>
                    <th>COBRADOR</th>
                    <th>CONCEPTO</th>
                    <th>NOTA</th>
                    <th>RECAUDACIÓN</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for abono in abonos %}
                <tr>
                    <td>{{ abono.id }}</td>
                    <td>{{ abono.fecha|date:"d/m/Y" }}</td>
                    <td>{{ abono.monto }}</td>
                    <td>{{ abono.cliente.apellido }} , {{ abono.cliente.nombre }}</td>
                    <td>{{ abono.cobrador.nombre }}</td>
                    <td>{{ abono.concepto }}</td>
                    <td>{{ abono.nota }}</td>
                    <td>{{ abono.recaudacion }}</td>
                    <td>
                        {% if abono.cobrador.usuario == request.user or request.user.is_superuser %}
                        <a name="" id="" class="btn btn-primary" href="{% url 'editar_abono' abono.id%}" role="button"><i class="bi bi-pen"></i></a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_abono' abono.id %}" role="button"><i class="bi bi-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}