{% extends "base.html" %}

{% block titulo %} Lista de Abonos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#filtros" role="button" aria-controls="filtros">
            <i class="bi bi-funnel"></i>
        </a>
        <a class="btn btn-success" href="{% url 'agregar_abono' %}" role="button">Agregar Abono</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FECHA</th>
                        <th>MONTO</th>
                        <th>CLIENTE</th>
                        <th>COBRADOR</th>
                        <th>CONCEPTO</th>
                        <th>NOTA</th>
                        <th>RECAUDACIÓN</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for abono in abonos %}
                    <tr>
                        <td>{{ abono.id }}</td>
                        <td>{{ abono.fecha|date:"d/m/Y" }}</td>
                        <td>{{ abono.monto }}</td>
                        <td>{{ abono.cliente.apellido }} , {{ abono.cliente.nombre }}</td>
                        <td>{{ abono.cobrador.nombre }}</td>
                        <td>{{ abono.concepto }}</td>
                        <td>{{ abono.nota }}</td>
                        <td>{{ abono.recaudacion }}</td>
                        <td>
                            {% if abono.cobrador.usuario == request.user or request.user.is_superuser %}
                            <a name="" id="" class="btn btn-primary" href="{% url 'editar_abono' abono.id%}" role="button"><i class="bi bi-pen"></i></a>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_abono' abono.id %}" role="button"><i class="bi bi-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="filtros" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filtrar</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card">
            <div class="card-header">
                <h4>Cobradores</h4>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <li class="list-group-item"><a href="{% url 'abonos' %}">TODOS</a></li>
                    {% for cobrador in cobradores %}
                    <li class="list-group-item"><a href="{% url 'abonos' %}?query_cobrador={{cobrador.id}}">{{ cobrador.nombre }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h4>Recaudados</h4>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <li class="list-group-item"><a href="{% url 'abonos' %}">TODOS</a></li>
                    <li class="list-group-item"><a href="{% url 'abonos' %}?query_recaudaciones=1">Con Recaudación</a></li>
                    <li class="list-group-item"><a href="{% url 'abonos' %}?query_recaudaciones=0">Sin Recaudación</a></li>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h4>Conceptos</h4>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <li class="list-group-item"><a href="{% url 'abonos' %}">TODOS</a></li>
                    {% for concepto in conceptos %}
                    <li class="list-group-item"><a href="{% url 'abonos' %}?query_concepto={{concepto.id}}">{{ concepto.año }}/{{ concepto.mes }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}