{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Condornet</h1>
        <p class="lead">CRUD Abonos - Clientes - Cobradores - Recaudaciones</p>
        <hr class="my-2">
        <p class="lead d-flex justify-content-start">
            <a class="btn btn-primary btn-lg m-1" href="{% url 'abonos' %}" role="button">Abonos</a>
            <a class="btn btn-success btn-lg m-1" href="{% url 'clientes' %}" role="button">Clientes</a>
        </p>
    </div>
</div>

{% endblock %}