<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="" class="form-label">Cobrador</label>
    <select class="form-control" name="cobrador" id="cobrador">
      {% if recaudacion is not None %}
      <option value={{recaudacion.cobrador.id}}>{{recaudacion.cobrador}}</option>
      {% endif %}
      {% if request.user.is_superuser %}
      <option value={{cobrador.id}}>{{cobrador.nombre}}</option>
      {%endif%}
    </select>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Fecha</label>
    <input
    type="date"
    class="form-control"
    name="fecha"
    id="fecha"
    aria-describedby="helpId"
    placeholder=""
    value="{{ recaudacion.fecha | default:''}}">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Monto</label>
    <input
    type="number"
    class="form-control"
    name="monto"
    id="monto"
    aria-describedby="helpId"
    placeholder="1000"
    value="{{ recaudacion.monto | default:suma_abonos.monto }}">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Nota</label>
    <input
    type="text"
    class="form-control"
    name="nota"
    id="nota"
    aria-describedby="helpId"
    placeholder="Nota"
    value="{{ recaudacion.nota | default:''}}">
  </div>

  <div class="col-12 help-text"> {{ formulario.errors }} </div>

  <input
  name=""
  id=""
  class="btn btn-success"
  type="submit"
  value="Agregar">
  <a
  name=""
  id=""
  class="btn btn-primary"
  href="{% url 'recaudaciones' %}"
  role="button">Cancelar</a>
 
</form>