{% extends "base.html" %}

{% block titulo %} Lista de Recaudaciones {% endblock %}

{% block sidebar %}

<!-- filtro cobradores -->
<div class="card">
    <div class="card-header">
        <h3>Cobradores</h3>
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}">TODOS</a></li>
            {% for cobrador in cobradores %}
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_cobrador={{cobrador.id}}">{{ cobrador.nombre }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<!-- filtro meses
<div class="card">
    <div class="card-header">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMeses" aria-expanded="false" aria-controls="collapseMeses">
            MESES
        </button>
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}">Todos</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=01">Enero</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=02">Febrero</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=03">Marzo</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=04">Abril</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=05">Mayo</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=06">Junio</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=07">Julio</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=08">Agosto</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=09">Septiembre</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=10">Octubre</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=11">Noviembre</a></li>
            <li class="list-group-item"><a href="{% url 'recaudaciones' %}?query_mes=12">Diciembre</a></li>
        </div>
    </div>
</div> -->

{% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header d-flex justify-content-end">
        <a name="" id="" class="btn btn-primary" href="#">Total Recaudado ${{suma_monto.monto}}</a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>COBRADOR</th>
                    <th>MONTO</th>
                    <th>NOTA</th>
                    <th>ADMINISTRAR</th>
                </tr>
            </thead>
            <tbody>
                {% for recaudacion in recaudaciones %}
                <tr>
                    <td>{{ recaudacion.id }}</td>
                    <td>{{ recaudacion.fecha|date:"d/m/Y" }}</td>
                    <td>{{ recaudacion.cobrador.nombre }}</td>
                    <td>{{ recaudacion.monto }}</td>
                    <td>{{ recaudacion.nota }}</td>
                    <td>
                        {% if recaudacion.cobrador.usuario == request.user or request.user.is_superuser %}
                        <a name="" id="" class="btn btn-primary" href="{% url 'editar_recaudacion' recaudacion.id%}" role="button">Editar</a>
                        {% if request.user.is_superuser %}
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_recaudacion' recaudacion.id %}" role="button">Borrar</a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}