{% extends "base.html" %}

{% block titulo %} Lista de Recaudaciones {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'agregar_recaudacion' %}" role="button">Agregar Recaudación</a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>COBRADOR</th>
                    <th>MONTO</th>
                    <th>NOTA</th>
                </tr>
            </thead>
            <tbody>
                {% for recaudacion in recaudaciones %}
                <tr>
                    <td>{{ recaudacion.id }}</td>
                    <td>{{ recaudacion.fecha }}</td>
                    <td>{{ recaudacion.cobrador.nombre }}</td>
                    <td>{{ recaudacion.monto }}</td>
                    <td>{{ recaudacion.nota }}</td>
                    <td><a name="" id="" class="btn btn-primary" href="{% url 'editar_recaudacion' recaudacion.id%}" role="button">Editar</a>
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_recaudacion' recaudacion.id %}" role="button">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}